.App {
  text-align: center;
}

.square-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  height: 33px;
  width: 33px;
  background-color: white;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.429);
}

.game-board-status-button {
    border: 1px solid gray;
}
